<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEnrollment">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://metangadev18.metratech.com/soapservice"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEnrollment"
                contract="Proxy.IEnrollment" name="WSHttpBinding_IEnrollment" />
        </client>
    </system.serviceModel>
</configuration>