<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PaymentBrokerAddress" value="https://tenant.mypaymentaccess.com"/>
    <add key="MetangaAddress" value="https://tenant.mybillaccess.com"/>
    <add key="MetangaUsername" value="username"/>
    <!-- Clear text password is ok here, since this is an SDK used as a demonstration of integration with Metanga.
         Never store credentials in clear text in a production environment. Please follow this guideline from
         Microsoft to secure your credentials: http://msdn.microsoft.com/en-us/library/system.configuration.rsaprotectedconfigurationprovider(v=vs.100).aspx -->
    <add key="Metangapassword" value="password"/>
  </appSettings>
</configuration>