<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PaymentBrokerAddress" value="https://vmbaasdev01.metratech.com"/>
    <add key="MetangaAddress" value="https://vmbaasdev01.metratech.com"/>
    <add key="MetangaUsername" value="su"/>
    <add key="Metangapassword" value="Metra#su123"/>
  </appSettings>
</configuration>